{% from 'cw/template/common/breadcrumbs.twig' import breadcrumbs %}
{% from 'cw/template/common/product_teaser.twig' import product_teaser %}

{{ header }}

<div class="container pt-1 pb-1">
    {{ breadcrumbs(breadcrumbs) }}
</div>

<div class="container">
    <h1 class="category__title">
        {{ heading_title }}
    </h1>
</div>

<div class="container">
    <div class="row">
        {{ column_left }}

        <div class="col" id="content">
            {{ content_top }}

            {% if products %}
                <ul class="sorting">
                    {% for sorts in sorts %}
                        <li class="sorting__item">
                            {% if sorts.value == '%s-%s'|format(sort, order) %}
                                <span class="sorting__current">{{ sorts.text }}</span>
                            {% else %}
                                <a href="{{ sorts.href }}" class="sorting__link">{{ sorts.text }}</a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>

                <div class="row">
                    {% for product in products %}
                        <div class="col-4">
                            {{ product_teaser(product) }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            {% if not categories and not products %}
                {{ text_no_results }}
                <a href="{{ continue }}">{{ button_continue }}</a>
            {% endif %}

            {{ content_bottom }}
        </div>

        {{ column_right }}
    </div>
</div>

{{ footer }}
