{% from 'cw/template/common/breadcrumbs.twig' import breadcrumbs %}
{% from 'cw/template/common/product_teaser.twig' import product_teaser %}

{{ header }}

<div class="container pt-1 pb-1">
    {{ breadcrumbs(breadcrumbs) }}
</div>

<div class="container">
    <h1 class="category__title">
        {{ heading_title }}
    </h1>
</div>

{% if products %}
    <div class="category__controls">
        <div class="container">
            <ul class="sorting">
                {% for sorts in sorts %}
                    <li class="sorting__item">
                        {% if sorts.value == '%s-%s'|format(sort, order) %}
                            <span class="sorting__current">{{ sorts.text }}</span>
                        {% else %}
                            <a href="{{ sorts.href }}" class="sorting__link">{{ sorts.text }}</a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="container">
        <div class="row">
            {% for product in products %}
                <div class="col-3">
                    {{ product_teaser(product) }}
                </div>
            {% endfor %}
        </div>
    </div>

{% else %}
    <div class="container">Эта категория пока пуста</div>
{% endif %}

{{ footer }}
