{% from 'cw/template/components/breadcrumbs.twig' import breadcrumbs %}

{{ header }}

<div class="container pt-1 pb-1">
    {{ breadcrumbs(breadcrumbs) }}
</div>

<div class="container">
    <div class="alerts"></div>
</div>

<div class="product">
    <div class="container">
        <div class="row">
            <div class="col-8">
                <div class="product-photo">

                    {% if images or thumb %}
                        <div class="product-photo__carousel">
                            <div class="product-photo-carousel">
                                {% if thumb %}
                                    <div class="product-photo-carousel__item">
                                        <img class="product-photo-carousel__photo" src="{{ thumb }}" title="{{ heading_title }}" alt="{{ heading_title }}" />
                                    </div>
                                {% endif %}
                                {% if images %}
                                    {% for image in images %}
                                        <div class="product-photo-carousel__item">
                                            <img class="product-photo-carousel__photo" src="{{ image.thumb }}" title="{{ heading_title }}" alt="{{ heading_title }}" />
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}

                    <div class="product-photo__slider">
                        <div class="product-photo-slider">
                            {% if images or thumb %}
                                {% if thumb %}
                                    <img class="product-photo-slider__photo" src="{{ popup }}" title="{{ heading_title }}" alt="{{ heading_title }}" />
                                {% endif %}
                                {% if images %}
                                    {% for image in images %}
                                        <img class="product-photo-slider__photo" src="{{ image.popup }}" title="{{ heading_title }}" alt="{{ heading_title }}" />
                                    {% endfor %}
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>

                </div>

                <div class="product-info">
                    <ul class="tabs">
                        <li class="tab tab_current" data-tab="tab-1">
                            <span class="tab__text">Описание</span>
                        </li>
                        <li class="tab" data-tab="tab-2">
                            <span class="tab__text">Характеристики</span>
                        </li>
                    </ul>
                    <div id="tab-1" class="tab-content tab-content_current">
                        {{ description }}
                    </div>
                    <div id="tab-2" class="tab-content">
                        <table class="attributes">
                            {% for attribute_group in attribute_groups %}
                                <thead>
                                    <tr>
                                        <td class="attributes__subtitle" colspan="2">
                                            {{ attribute_group.name }}
                                        </td>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for attribute in attribute_group.attribute %}
                                    <tr class="attributes__row">
                                        <td class="attributes__col">{{ attribute.name }}</td>
                                        <td class="attributes__col">
                                            <span class="attributes__value">{{ attribute.text }}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-4">
                    <div class="product__order-block">
                    <!-- Brand -->
                    {% if manufacturer %}
                        <a class="product__brand product-brand" href="{{ manufacturers }}">
                            {% if manufacturers_logo %}
                                <img class="product-brand__logo" src="{{ manufacturers_logo }}" alt="{{ manufacturer }}" />
                            {% else %}
                                {{ manufacturer }}
                            {% endif %}
                        </a>
                    {% endif %}
                    <!-- End Brand  -->

                    <!-- Title-->
                    <h1 class="product__title">{{ heading_title }}</h1>
                    <!-- End Title  -->

                    <!-- Stock, SKU -->
                    <div class="product__stock-sku">
                        <span class="product__stock">{{ stock }}</span>
                        <span class="product__sku">{{ sku }}</span>
                    </div>
                    <!-- End Stock, SKU -->

                    <!-- Price -->
                    {% if price %}
                        <div class="product__price product-price">
                            {% if not special %}
                                <span class="product-price__current">{{ price }}</span>
                            {% else %}
                                <span class="product-price__current">{{ special }}</span>
                                <span class="product-price__old">{{ price }}</span>
                            {% endif %}
                        </div>
                    {% endif %}
                    <!-- End price -->

                    <!--   -->
                    <ul class="list-unstyled">
                        {% if tax %}
                            <li>{{ text_tax }} {{ tax }}</li>
                        {% endif %}

                        {% if points %}
                            <li>{{ text_points }} {{ points }}</li>
                        {% endif %}

                        {% if discounts %}
                            {% for discount in discounts %}
                                <li>{{ discount.quantity }}{{ text_discount }}{{ discount.price }}</li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                    <!--   -->

                    <!-- #Product with options, order controls-->
                    <div class="product__buy-block" id="product">
                        <input type="hidden" name="product_id" value="{{ product_id }}" />
                        <input type="hidden" name="quantity" value="{{ minimum }}" />

                        {% if minimum > 1 %}{{ text_minimum }}{% endif %}

                        <div class="button-group">

                            <!-- Button cart -->
                            <button class="button button_view_action product__button-cart" id="buttonCart">
                                <span class="button__body">{{ button_cart }}</span>
                            </button>
                            <!-- End Button cart -->

                            <!-- Button favorite -->
                            <button class="button button_view_plain" onclick="wishlist.add({{ product_id }})">
                                <span class="button__prepand">
                                    <svg class="icon">
                                        <use href="#icon-favorite" />
                                    </svg>
                                </span>
                                <span class="button__body">В избранное</span>
                            </button>
                            <!-- End Button favorite -->
                        </div>

                        <!-- Button quick order -->
                        <button class="button button_view_pseudo width-full product__button-quickorder" type="button" data-toggle="modal" data-target="#quickOrderModal">Быстрый заказ</button>
                        <!-- End Button quick order -->
                    </div>
                    <!-- #End Product -->

                    <!-- Seller features -->
                    <div class="product__seller-features seller-features">
                        <ul class="seller-features__list">
                            <li class="seller-features__item">
                                <strong>Только новые и оригинальные часы</strong>
                            </li>
                            <li class="seller-features__item">
                                Оплата после получения и проверки
                            </li>
                        </ul>
                    </div>
                    <!-- End seller features -->

                    <!-- Additional links-->
                    <div class="product__links">
                        <ul class="product-links__list">
                            <li class="product-links__item">
                                <a class="product-links__link" href="">Гарантия</a>
                            </li>
                            <li class="product-links__item">
                                <a class="product-links__link" href="">Доставка и оплата</a>
                            </li>
                        </ul>
                    </div>
                    <!-- End additional links -->
                </div>
            </div>
        </div>
    </div>
</div>

{% include "cw/template/product/quick_order.twig" %}

{{ footer }}
