{% from 'cw/template/components/breadcrumbs.twig' import breadcrumbs %}

{{ header }}

<div class="container pt-1 pb-1">
    {{ breadcrumbs(breadcrumbs) }}
</div>

<div class="container">
    <div class="alerts"></div>
</div>

<div class="product">
    <div class="container">
        <div class="row">
            <div class="col-8">
                <img class="product__image" src="catalog/view/theme/cw/image/tmp/product.jpg" />

                <div class="product__attributes">
                    <table class="attributes__table">
                        {% for attribute_group in attribute_groups %}
                            <thead>
                                <tr>
                                    <td class="attributes__subtitle" colspan="2">
                                        {{ attribute_group.name }}
                                    </td>
                                </tr>
                            </thead>

                            <tbody>
                                {% for attribute in attribute_group.attribute %}
                                <tr class="attributes__row">
                                    <td class="attributes__col">{{ attribute.name }}</td>
                                    <td class="attributes__col">
                                        <span class="attributes__value">{{ attribute.text }}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        {% endfor %}
                    </table>
                </div>

                {{ description }}
            </div>

            <div class="col-4 align-self-start" style="position: sticky; top: 60px">
                {% if manufacturer %}
                    <a class="product__manufacturer" href="{{ manufacturers }}">
                        {% if manufacturers_logo %}
                            <img src="{{ manufacturers_logo }}" alt="{{ manufacturer }}" />
                        {% else %}
                            {{ manufacturer }}
                        {% endif %}
                    </a>
                {% endif %}

                <h1 class="product__title">{{ heading_title }}</h1>

                <div class="d-flex">
                    <span class="product__stock mr-auto">{{ stock }}</span>

                    <span class="product__sku">49838kdj09</span>
                </div>

                <div class="product__price-wrapper">
                    <span class="product__price">{{ price }}</span>
                </div>

                <div id="product">
                    <input type="hidden" name="product_id" value="{{ product_id }}" />
                    <input type="hidden" name="quantity" value="{{ minimum }}" />

                    {% if minimum > 1 %}{{ text_minimum }}{% endif %}

                    <button class="button button_view_action button_size_xl product__buy-button">
                        Быстрый заказ
                    </button>

                    <button class="button button_view_pseudo button_size_xl product__buy-button" id="button-cart">
                        В корзину
                    </button>
                </div>

                <div class="product__seller-features seller-features">
                    <ul class="seller-features__list">
                        <li class="seller-features__item">
                            <strong>Только новые и оригинальные часы</strong>
                        </li>
                        <li class="seller-features__item">
                            Оплата после получения и проверки
                        </li>
                    </ul>
                </div>

                <div class="product__links">
                    <ul class="product-links__list">
                        <li class="product-links__item">
                            <a class="product-links__link" href="">Гарантия</a>
                        </li>
                        <li class="product-links__item">
                            <a class="product-links__link" href="">Доставка и оплата</a>
                        </li>
                    </ul>
                </div>

                <button class="button button_view_plain">
                    <svg class="button__icon">
                        <use href="#fav" />
                    </svg>

                    <span class="button__text">В закладки</span>
                </button>
            </div>
        </div>
    </div>
</div>

<script src="catalog/view/theme/cw/javascript/product.js"></script>

{{ footer }}
