{% from 'cw/template/components/breadcrumbs.twig' import breadcrumbs %}

{{ header }}

<div class="container pt-1 pb-1">
    {{ breadcrumbs(breadcrumbs) }}
</div>

<div class="container">
    <div class="alerts"></div>
</div>

<div class="product">
    <div class="container">
        <div class="row">
            <div class="col-8">
                <div class="product-gallery">

                    {% if images or thumb %}
                        <div class="product-gallery__thumbnails">
                            <div class="product-thumb-carousel">
                                {% if thumb %}
                                    <img class="product__thumbnail" src="{{ thumb }}" title="{{ heading_title }}" alt="{{ heading_title }}" />
                                {% endif %}
                                {% if images %}
                                    {% for image in images %}
                                        <img class="product__thumbnail" src="{{ image.thumb }}" title="{{ heading_title }}" alt="{{ heading_title }}" />
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}

                    <div class="product-gallery__image">
                        <div class="product-image-carousel">
                            {% if images or thumb %}
                                {% if thumb %}
                                    <img class="product__image" src="{{ popup }}" title="{{ heading_title }}" alt="{{ heading_title }}" />
                                {% endif %}
                                {% if images %}
                                    {% for image in images %}
                                        <img class="product__image" src="{{ image.popup }}" title="{{ heading_title }}" alt="{{ heading_title }}" />
                                    {% endfor %}
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>

                </div>

                <div class="product__attributes">
                    <table class="attributes__table">
                        {% for attribute_group in attribute_groups %}
                            <thead>
                                <tr>
                                    <td class="attributes__subtitle" colspan="2">
                                        {{ attribute_group.name }}
                                    </td>
                                </tr>
                            </thead>

                            <tbody>
                                {% for attribute in attribute_group.attribute %}
                                <tr class="attributes__row">
                                    <td class="attributes__col">{{ attribute.name }}</td>
                                    <td class="attributes__col">
                                        <span class="attributes__value">{{ attribute.text }}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        {% endfor %}
                    </table>
                </div>

                {{ description }}
            </div>

            <div class="col-4 align-self-start">

                {% if manufacturer %}
                    <a class="product-manufacturer" href="{{ manufacturers }}">
                        {% if manufacturers_logo %}
                            <img class="manufacturer__logo" src="{{ manufacturers_logo }}" alt="{{ manufacturer }}" />
                        {% else %}
                            {{ manufacturer }}
                        {% endif %}
                    </a>
                {% endif %}

                <h1 class="product__title">{{ heading_title }}</h1>

                <div>
                    <span class="product__stock mr-auto">{{ stock }}</span>

                    <span class="product__sku">{{ sku }}</span>
                </div>

                {# Price #}
                {% if price %}
                    <div class="product-price">
                        {% if not special %}
                            <span class="product-price__current">{{ price }}</span>
                        {% else %}
                            <span class="product-price__current">{{ special }}</span>
                            <span class="product-price__old">{{ price }}</span>
                        {% endif %}
                    </div>
                {% endif %}

                <ul>
                    {% if tax %}
                        <li>{{ text_tax }} {{ tax }}</li>
                    {% endif %}

                    {% if points %}
                        <li>{{ text_points }} {{ points }}</li>
                    {% endif %}

                    {% if discounts %}
                        {% for discount in discounts %}
                            <li>{{ discount.quantity }}{{ text_discount }}{{ discount.price }}</li>
                        {% endfor %}
                    {% endif %}
                </ul>


                <div id="product">
                    <input type="hidden" name="product_id" value="{{ product_id }}" />
                    <input type="hidden" name="quantity" value="{{ minimum }}" />

                    {% if minimum > 1 %}{{ text_minimum }}{% endif %}

                    <div class="button-group button-group_gaps">
                        <button class="button button_view_action grow" id="button-cart">
                            <span class="button__body caps">{{ button_cart }}</span>
                        </button>

                        <button class="button button_view_plain">
                            <div class="button__prepand">
                                <svg class="icon">
                                    <use href="#icon-favorite" />
                                </svg>
                            </div>
                            <div class="button__body">В избранное</div>
                        </button>
                    </div>

                    <button class="button button_view_pseudo width-full" id="quick-order">Быстрый заказ</button>
                </div>

                <div class="product__seller-features seller-features">
                    <ul class="seller-features__list">
                        <li class="seller-features__item">
                            <strong>Только новые и оригинальные часы</strong>
                        </li>
                        <li class="seller-features__item">
                            Оплата после получения и проверки
                        </li>
                    </ul>
                </div>

                <div class="product__links">
                    <ul class="product-links__list">
                        <li class="product-links__item">
                            <a class="product-links__link" href="">Гарантия</a>
                        </li>
                        <li class="product-links__item">
                            <a class="product-links__link" href="">Доставка и оплата</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% include "cw/template/product/quick_order.twig" %}

<script src="catalog/view/theme/cw/javascript/product.js"></script>

{{ footer }}

