{% from 'cw/template/components/breadcrumbs.twig' import breadcrumbs %}

{{ header }}

<div class="container pt-1 pb-1">
    {{ breadcrumbs(breadcrumbs) }}
</div>

<div class="container">
    <div class="alerts"></div>
</div>

<div class="product">
    <div class="container">
        <div class="row">
            <div class="col-8">
                <div class="product-gallery">
                    {% if images or thumb %}
                        <div class="product-gallery__thumbnails">
                            <div class="product-thumbnails">
                                {% if thumb %}
                                    <div>
                                        <img class="product__thumbnail" src="{{ thumb }}" title="{{ heading_title }}" alt="{{ heading_title }}" />
                                    </div>
                                {% endif %}
                                {% if images %}
                                    {% for image in images %}
                                        <div>
                                            <img class="product__thumbnail" src="{{ image.thumb }}" title="{{ heading_title }}" alt="{{ heading_title }}" />
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}

                    <div class="product-gallery__image">
                        <div class="product-images">
                            {% if images or thumb %}
                                {% if thumb %}
                                    <div>
                                        <img class="product__image" src="{{ popup }}" title="{{ heading_title }}" alt="{{ heading_title }}" />
                                    </div>
                                {% endif %}
                                {% if images %}
                                    {% for image in images %}
                                        <div>
                                            <img class="product__image" src="{{ image.popup }}" title="{{ heading_title }}" alt="{{ heading_title }}" />
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="product__attributes">
                    <table class="attributes__table">
                        {% for attribute_group in attribute_groups %}
                            <thead>
                                <tr>
                                    <td class="attributes__subtitle" colspan="2">
                                        {{ attribute_group.name }}
                                    </td>
                                </tr>
                            </thead>

                            <tbody>
                                {% for attribute in attribute_group.attribute %}
                                <tr class="attributes__row">
                                    <td class="attributes__col">{{ attribute.name }}</td>
                                    <td class="attributes__col">
                                        <span class="attributes__value">{{ attribute.text }}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        {% endfor %}
                    </table>
                </div>

                {{ description }}
            </div>

            <div class="col-4 align-self-start" style="position: sticky; top: 60px">
                {% if manufacturer %}
                    <a class="product__manufacturer" href="{{ manufacturers }}">
                        {% if manufacturers_logo %}
                            <img src="{{ manufacturers_logo }}" alt="{{ manufacturer }}" />
                        {% else %}
                            {{ manufacturer }}
                        {% endif %}
                    </a>
                {% endif %}

                <h1 class="product__title">{{ heading_title }}</h1>

                <div class="d-flex">
                    <span class="product__stock mr-auto">{{ stock }}</span>

                    <span class="product__sku">49838kdj09</span>
                </div>

                <div class="product__price-wrapper">
                    <span class="product__price">{{ price }}</span>
                </div>

                <div id="product">
                    <input type="hidden" name="product_id" value="{{ product_id }}" />
                    <input type="hidden" name="quantity" value="{{ minimum }}" />

                    {% if minimum > 1 %}{{ text_minimum }}{% endif %}

                    <div class="button-group">
                        <button class="button button_view_action button_caps" id="button-cart">
                            <span class="button__body">В корзину</span>
                        </button>

                        <button class="button">
                            <svg class="icon">
                                <use href="#icon-favorite" />
                            </svg>
                        </button>
                    </div>

                    <button class="button width-full button_caps">Быстрый заказ</button>
                </div>

                <div class="product__seller-features seller-features">
                    <ul class="seller-features__list">
                        <li class="seller-features__item">
                            <strong>Только новые и оригинальные часы</strong>
                        </li>
                        <li class="seller-features__item">
                            Оплата после получения и проверки
                        </li>
                    </ul>
                </div>

                <div class="product__links">
                    <ul class="product-links__list">
                        <li class="product-links__item">
                            <a class="product-links__link" href="">Гарантия</a>
                        </li>
                        <li class="product-links__item">
                            <a class="product-links__link" href="">Доставка и оплата</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="catalog/view/theme/cw/javascript/product.js"></script>

{{ footer }}
