<div class="modal" id="callbackModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal__title">{{ cw_callback_title }}</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-messages"></div>
            <div class="modal-body">
                <form id="callbackForm">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" for="callbackName">{{ cw_callback_name }}</label>
                        <div class="col-sm-9">
                            <input class="input width-full" name="name" id="callbackName" type="text" placeholder="{{ cw_callback_name_placeholder }}" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" for="callbackTel">{{ cw_callback_tel }}</label>
                        <div class="col-sm-9">
                            <input class="input width-full" name="tel" id="callbackTel" type="text" placeholder="{{ cw_callback_tel_placeholder }}" />
                        </div>
                    </div>
                </form>

                <small class="form-text text-muted" id="callbackTelHelp">Мы не собираем персональные данные и не передаем третьим лицам</small>
            </div>

            <div class="modal-footer">
                <button type="button" class="button button_view_pseudo" data-dismiss="modal">Закрыть</button>

                <button class="button button_view_action" type="submit" form="callbackForm">{{ cw_callback_submit }}</button>
            </div>
        </div>
    </div>
</div>
