
    <div class="swiper-container" id="carousel-{{ module }}" >
        <div class="swiper-wrapper">
            {% for banner in banners %}
                <div class="swiper-slide carousel__item">
                    {% if banner.link %}
                        <a href="{{ banner.link }}">
                            <img class="carousel__image" src="{{ banner.image }}" alt="{{ banner.title }}" />
                        </a>
                    {% else %}
                        <img class="carousel__image" src="{{ banner.image }}" alt="{{ banner.title }}" />
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>

<script>
var carousel{{ module }} = new Swiper('#carousel-{{ module }}', {
    slidesPerView: 'auto',
    spaceBetween: 30,
    autoplay: {
        delay: 2500,
    }
})
</script>
