<div class="module">
    <h3 class="pinned-group">{{ title }}</h3>
    <div class="row">
        {% for product in products %}
            <div class="col">
                <div class="product-teaser">
                    <img src="{{ product.thumb }}" alt="{{ product.name }}" class="product-teaser__thumb" />
                </div>

                <a href="{{ product.href }}" class="bstn-group-item__link">
                    <span class="bstn-group-item__pseudolink">{{ product.name }}
                </a>

                {% if product.special %}
                    <span class="bstn-group-item__price">{{ product.special }}</span>
                {% else %}
                    <span class="bstn-group-item__price">{{ product.price }}</span>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>
