{% if selecteds %}
<div class="list-group-item selected-options">
  {% for option in selecteds %}
  <div class="ocfilter-option pt-2 pl-2 pr-2 pb-0 d-flex flex-wrap align-items-center bg-white">
    <span class="font-size-90 mr-1 mb-1">{{ option.name }}:</span>
    {% for value in option.values %}
    <button type="button" onclick="location = '{{ value.href }}';" class="btn btn-xs btn-outline-danger mb-1 mr-1" style="padding: 1px 4px;">
      <span class="font-size-75">{{ icon_close }}</span>
      {{ value.name }}
    </button>
    {% endfor %}
  </div>
  {% endfor %}
  {% if selecteds|length > 1 or selecteds|first.values|length > 1 %}
  <button type="button" onclick="location = '{{ link}}';" class="btn btn-block btn-danger mt-2" style="border-radius: 0;"><i class="fa fa-times-circle"></i> {{ text_cancel_all }}</button>
  {% endif %}
</div>
{% endif %}
