{% if selecteds %}
    <div class="list-group-item filter__selected">
        {% for option in selecteds %}
            <div class="filter__options">
                <span class="filter__option">{{ option.name }}:</span>
                {% for value in option.values %}
                    <button type="button" onclick="location = '{{ value.href }}';" class="button button_view_pseudo button_size_small mb-1 mr-1">
                        <span class="button__body">{{ value.name }}</span>
                        <span class="button__append">&times;</span>
                    </button>
                {% endfor %}
            </div>
        {% endfor %}
        {% if selecteds|length > 1 or selecteds|first.values|length > 1 %}
            <button type="button" onclick="location = '{{ link}}';" class="button button_size_small button_view_pseudo width-full button">&times; {{ text_cancel_all }}</button>
        {% endif %}
    </div>
{% endif %}
