{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="submit" form="form-module" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>

                <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
            </div>

            <h1>{{ heading_title }}</h1>

            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Links</h3>
            </div>

            <div class="panel-body">
                <form
                    class="form-horizontal"
                    id="form-module"
                    action="{{ action.save }}"
                    method="post"
                    enctype="multipart/form-data">

                        {# Entry name #}
                        <div class="form-group required">
                            <label class="col-sm-2 control-label" for="input-name">{{ entry_name }}</label>

                            <div class="col-sm-10">
                                <input
                                    name="name"
                                    class="form-control"
                                    id="input-name"
                                    type="text"
                                    value="{{ name }}"
                                    placeholder="{{ placeholder_name }}" />
                                {% if error.name %}
                                    <div class="text-danger">{{ error_name }}</div>
                                {% endif %}
                            </div>
                        </div>{# End of entry name #}

                        {# Entry class name #}
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="input-class">{{ entry_class }}</label>

                            <div class="col-sm-10">
                                <input
                                    name="class"
                                    class="form-control"
                                    id="input-class"
                                    type="text"
                                    value="{{ class }}"
                                    placeholder="{{ placeholder_class }}" />
                            </div>
                        </div>{# End of modificator #}

                        {# Status #}
                        <div class="form-group row">
                            <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>

                            <div class="col-sm-10">
                                <select name="status" id="input-status" class="form-control">
                                    {% if status %}
                                        <option value="1" selected="selected">{{ text_enabled }}</option>
                                        <option value="0">{{ text_disabled }}</option>
                                    {% else %}
                                        <option value="1">{{ text_enabled }}</option>
                                        <option value="0" selected="selected">{{ text_disabled }}</option>
                                    {% endif %}
                                </select>
                            </div>
                        </div>{# End of status #}

                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <td>Name</td>
                                    <td>Link</td>
                                    <td>Order</td>
                                    <td>Actions</td>
                                </tr>
                            </thead>
                            <tbody>
                                {% for link in links %}
                                    {% set link_id = loop.index %}
                                    <tr data-id="{{ link_id }}">
                                        <td>
                                            <input
                                                name="links[{{ link_id }}][name]"
                                                class="form-control"
                                                type="text"
                                                value="{{ link.name }}" />
                                        </td>
                                        <td>
                                            <input
                                                name="links[{{ link_id }}][href]"
                                                class="form-control"
                                                type="text"
                                                value="{{ link.link }}" />
                                        </td>
                                        <td>
                                            <input
                                                name="links[{{ link_id }}][order]"
                                                class="form-control"
                                                type="text"
                                                value="{{ link.order }}" />
                                        </td>
                                        <td>
                                            <button class="btn btn-danger" type="button" onclick="removeLink({{ link_id }})"><i class="fa fa-trash"></i></button>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>

                            <tfoot>
                                <tr>
                                    <td colspan="3"></td>
                                    <td>
                                        <button class="btn btn-primary" type="button" onclick="addLink()"><i class="fa fa-plus"></i></a>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
{{ footer }}

<script>
const linkTemplate = linkId => `
    <tr data-id="${linkId}">
        <td>
            <input name="links[${linkId}][name]" class="form-control" type="text"  />
        </td>
        <td>
            <input name="links[${linkId}][href]" class="form-control" type="text" />
        </td>
        <td>
            <input name="links[${linkId}][order]" class="form-control" type="text" />
        </td>
        <td>
            <button class="btn btn-danger" type="button" onclick="removeLink(${linkId})"><i class="fa fa-trash"></i></button>
        </td>
    </tr>`

const addLink = () => {
    const linksContainer = $('tbody')

    const id = linksContainer.find('tr:last-child').length ? 1 + +linksContainer.find('tr:last-child').attr('data-id') : 0

    linksContainer.append(linkTemplate(id))
}

const removeLink = linkId => {
    $(`tr[data-id=${linkId}]`).remove()
}
</script>
