{% macro product_teaser(product, labels) %}
    <div class="product-teaser">

        <a class="product-teaser__thumb-holder" href="{{ product.href }}">
            <img src="{{ product.thumb }}" alt="{{ product.name }}" class="product-teaser__thumb" />

            <div class="product-teaser__badges">
                {% if product.discount %}
                    <span class="product-teaser__badge">
                        {{ product.discount }}
                    </span>
                {% endif %}
            </div>
        </a>

        <a href="{{ product.href }}" class="product-teaser__name">
            {{ product.name }}
        </a>

        <div class="product-teaser-price">
            {% if not product.special %}
                <span class="product-teaser-price__current">{{ product.price }}</span>
            {% else %}
                <span class="product-teaser-price__current">{{ product.special }}</span>

                <span class="product-teaser-price__old">{{ product.price }}</span>
            {% endif %}
        </div>

        <div class="product-teaser__hidden">
            <div class="button-group">
                <button
                    class="button button_view_pseudo"
                    onclick="cart.add({{ product.product_id }}, {{ product.minimum|default(1) }})"
                >{{ labels.button_cart }}</button>

                <button
                    class="button button_view_plain ml-auto"
                    onclick="whishlist.add({{ product.product_id }})"
                >
                    <svg class="icon">
                        <use href="#icon-favorite" />
                    </svg>
                </button>
            </div>
        </div>
    </div>
{% endmacro %}
