{% macro product_teaser(product) %}
    <div class="product-teaser">
        <img src="{{ product.thumb }}" alt="{{ product.name }}" class="product-teaser__thumb" />

        <div class="product-teaser__badges">
            {% if product.discount %}
                <span class="product-teaser__badge">
                    {{ product.discount }}
                </span>
            {% endif %}
        </div>

        <div class="product-teaser__price price">
            {% if product.special %}
                <span class="price__price price__price_special">{{ product.special }}</span>
                <span class="price__price price__price_old">{{ product.price }}</span>
            {% else %}
                <span class="price__price">{{ product.price }}</span>
            {% endif %}
        </div>

        <a href="{{ product.href }}" class="product-teaser__link">
            {{ product.name }}
        </a>

        <div class="product-teaser__controls">
            <button class="button">Купить</button>

            <button class="product-teaser-button">
                <svg class="product-teaser-button__icon">
                    <use href="#fav" />
                </svg>
            </button>
        </div>
    </div>
{% endmacro %}

