{{ header }}

    {{ column_left }}

    <div id="content">
        <div class="page-header">
            <div class="container-fluid">
                <div class="pull-right">
                    <button type="submit" form="form-module" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>

                    <a href="#" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-primary"><i class="fa fa-plus"></i></a>

                    <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
                </div>

                <h1>{{ heading_title }}</h1>

                <ul class="breadcrumb">
                    {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="container-fluid">

            {% if error_warning %}
                <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i>
                    {{ error_warning }}
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                </div>
            {% endif %}

            <form
                class="form-horizontal"
                action="{{ action }}"
                method="post"
                enctype="multipart/form-data"
                id="form-module"
                >

                <div class="form-group">
                    <label class="col-sm-2 control-label" for="input-status">Status</label>
                    <div class="col-sm-10">
                        <select name="module_category_status" id="input-status" class="form-control">
                            <option value="1" selected="selected">Enabled</option>
                            <option value="0">Disabled</option>
                        </select>
                    </div>
                </div>

                <fieldset>
                    <legend>
                        Items
                    </legend>

                    <div class="table-response">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <td>Item</td>
                                    <td>Actions</td>
                                </tr>
                            </thead>
                            {% for item in items %}
                                {# Item #}
                                <tr>
                                    <td>{{ item.caption }}</td>
                                    <td>
                                        <a
                                            class="btn btn-sm btn-primary"
                                            href="index.php?route=extension/module/main_menu/item_editor&id={{ item.id }}&user_token={{ user_token }}"
                                            >
                                            <i class="fa fa-pencil"></i>
                                        </a>
                                    </td>
                                </tr>{# End of item #}
                            {% endfor %}
                        </table>
                    </div>
                </fieldset>
            </form>

        </div>
    </div>

{{ footer }}
