<div class="modal" id="authModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal__title">{{ cw_auth_title }}</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-messages"></div>

            <div class="modal-body">
                <form id="authForm">
                    <div class="form-group">
                        <label for="authEmail">{{ cw_auth_email }}</label>
                        <input class="form-control" id="authEmail" name="email" type="text" placeholder="{{ cw_auth_email_placeholder }}">
                    </div>

                    <div class="form-group">
                        <label for="authPassword">{{ cw_auth_password }}</label>
                        <input class="form-control" id="authPassword" name="password" type="password" placeholder="{{ cw_auth_password_placeholder }}">
                    </div>

                    <div class="form-group">
                        <ul class="list-unstyled">
                            <li>
                                <a href="index.php?route=account/forgotten">{{ cw_auth_forgotten }}</a>
                            </li>
                            <li>
                                <a href="index.php?route=account/register">{{ cw_auth_register }}</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="button button_view_pseudo" data-dismiss="modal">Закрыть</button>

                <button class="button button_view_action" type="submit" form="authForm">{{ cw_auth_submit }}</button>
            </div>
        </div>
    </div>
</div>
