<!DOCTYPE html>
<html lang="ru">
<head>
    <!-- Meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <base href="{{ base }}" />
    {% if description %}
        <meta name="description" content="{{ description }}" />
    {% endif %}
    {% if keywords %}
        <meta name="keywords" content="{{ keywords }}" />
    {% endif %}
    <!-- End Meta -->

    <!-- Stylesheets -->
    <link href="catalog/view/theme/cw/stylesheet/stylesheet.css" rel="stylesheet">
    {% for style in styles %}
        <link href="{{ style.href }}" rel="{{ style.rel }}" />
    {% endfor %}
    <!-- End Stylesheets -->

    <!-- Scripts -->
    <script
        src="https://code.jquery.com/jquery-3.5.0.min.js"
        integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
        crossorigin="anonymous"></script>
    <script>
        window.jQuery || document.write('<script src="catalog/view/theme/cw/javascript/vendors/jquery-3.5.0.min.js"><\/script>')
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script
        src="catalog/view/theme/cw/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    {% for script in scripts %}
        <script src="{{ script }}"></script>
    {% endfor %}
    <!-- End Scripts -->

    {% for link in links %}
        <link href="{{ link.href }}" rel="{{ link.rel }}" />
    {% endfor %}

    {% for analytic in analytics %}
        {{ analytic }}
    {% endfor %}
</head>
<body>
    <div class="page-holder">
        <header class="header">
            <div class="header__row header__row_top">
                <div class="container">
                    <a class="header__tel" href="tel:{{ telephone|replace({' ': '', '-': '', '(': '', ')': ''}) }}">{{ telephone }}</a>

                    {% if telephone2 %},
                    <a class="header__tel" href="tel:{{ telephone2|replace({' ': '', '-': '', '(': '', ')': ''}) }}">{{ telephone2 }}</a>
                    {% endif %}

                    {% if open %}
                        – {{ open }}
                    {% endif %}

                    <button class="callback-button callback-show">Перезвоните мне</button>
                </div>
            </div>

            <div class="header__row header__row_middle">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col">
                            {{ header_left }}
                        </div>

                        <div class="col-auto">
                            {% if logo %}
                                <a class="logo" href="{{ home }}">
                                    <img class="logo__image" src="{{ logo }}" title="{{ name }}" alt="{{ name }}" />
                                </a>
                            {% else %}
                                <a class="logo-placeholder" href="{{ home }}">{{ name }}</a>
                            {% endif %}
                        </div>

                        <div class="col d-flex flex-row justify-content-end align-middle">

                            {{ search }}

                            <div class="button-group button-group_gap">
                                {% if logged %}
                                    <a class="button button_view_plain" href="{{ account }}">
                                        <svg class="icon">
                                            <use href="#icon-user" />
                                        </svg>
                                    </a>
                                {% else %}
                                    <button class="button button_view_plain auth-show" href="{{ account }}">
                                        <svg class="icon">
                                            <use href="#icon-user" />
                                        </svg>
                                    </button>
                                {% endif %}

                                <a class="button button_view_plain" id="wishlist" href="{{ wishlist }}">
                                    <span class="button__body">
                                        <svg class="icon">
                                            <use href="#icon-favorite" />
                                        </svg>
                                    </span>
                                    {% if count_wishlist %}
                                        <span class="button__badge">{{ count_wishlist }}</span>
                                    {% endif %}
                                </a>

                                {{ cart }}
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="header__row header__row_bottom">
                {{ menu }}
            </div>
        </header>
