{{ header }}

<div class="promo">
    <div class="container">
        <div class="row">
            <div class="col-8">
                {{ promo_left }}
            </div>

            <div class="col-4">
                {{ promo_right }}
            </div>
        </div>
    </div>
</div>

{{ content_top }}

<!-- Tags -->
<div class="container">
    <div class="row">
        <div class="col">
            <div class="category-tags">
                <h3 class="category-tags__title">Мужские</h3>
                <ul class="category-tags__list">
                    <li class="category-tags__item">
                        <a class="category-tags__link">Кожаный ремешок</a>
                    </li>
                    <li class="category-tags__item">
                        <a class="category-tags__link">Классический стиль</a>
                    </li>
                    <li class="category-tags__item">
                        <a class="category-tags__link">Металлический ремешок</a>
                    </li>
                    <li class="category-tags__item category-tags__item_color_black">
                        <a class="category-tags__link">Черные</a>
                    </li>
                    <li class="category-tags__item category-tags__item_color_gold">
                        <a class="category-tags__link">Золотые</a>
                    </li>
                    <li class="category-tags__item">
                        <a class="category-tags__link">...</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col">
            <div class="category-tags">
                <h3 class="category-tags__title">Женские</h3>
                <ul class="category-tags__list">
                    <li class="category-tags__item">
                        <a class="category-tags__link">Кожаный ремешок</a>
                    </li>
                    <li class="category-tags__item">
                        <a class="category-tags__link">Классический стиль</a>
                    </li>
                    <li class="category-tags__item">
                        <a class="category-tags__link">Металлический ремешок</a>
                    </li>
                    <li class="category-tags__item category-tags__item_color_black">
                        <a class="category-tags__link">Черные</a>
                    </li>
                    <li class="category-tags__item category-tags__item_color_brown">
                        <a class="category-tags__link">Коричневые</a>
                    </li>
                    <li class="category-tags__item">
                        <a class="category-tags__link">...</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End Tags -->

{{ content_bottom }}

{{ footer }}
